<ul>
    <li><a href="/signup">Signup</li>
    <li><a href="/login">Login</li>
    <li><a href="/logout">Logout</li>
    <li><a href="/dashboard">Dashboard (only accessible when logged in)</li>
</ul>
