{{> messages}}
hmm? {{successMsg}}
<ul>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/dashboard">Dashboard (only accessible when logged in)</a></li>
</ul>
